<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title"> {{ title | uppercase }}</span>
                    <form class="mt-3" [formGroup]="studentForm" (ngSubmit)="addStudent()">
                        <div class="mb-3">
                            <input type="number" formControlName="id" class="form-control form-control-lg"
                                placeholder="Id">
                            <div class="text-danger"
                                *ngIf="studentForm.get('id')?.hasError('required') && studentForm.get('id')?.touched">
                                <span>The id <strong>is mandatory</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="student" class="form-control form-control-lg"
                                placeholder="Student">
                            <div class="text-danger"
                                *ngIf="studentForm.get('student')?.hasError('required') && studentForm.get('student')?.touched">
                                <span>The name of the student <strong>is mandatory</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="lastname" class="form-control form-control-lg"
                                placeholder="Lastname">
                            <div class="text-danger"
                                *ngIf="studentForm.get('lastname')?.hasError('required') && studentForm.get('lastname')?.touched">
                                <span>The lastname <strong>is mandatory</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="phone" class="form-control form-control-lg"
                                placeholder="Phone">
                            <div class="text-danger"
                                *ngIf="studentForm.get('phone')?.hasError('required') && studentForm.get('phone')?.touched">
                                <span>The phone <strong>is mandatory</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="email" class="form-control form-control-lg"
                                placeholder="Email">
                            <div class="text-danger"
                                *ngIf="studentForm.get('email')?.hasError('required') && studentForm.get('email')?.touched">
                                <span>The email <strong>is mandatory</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">RETURN</button>
                            <button type="submit" [disabled]="studentForm.invalid" class="btn btn-success btn-lg float-end">AGREE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>